.payment{
    &__main-header{
        display: flex;
        position: relative;
        justify-content: space-between;
        &>div{
            width: 24px;
            height: 24px;
            border-radius: 100%;
            background-color: #38E31B;
            z-index: 1001;
            border: 5px solid rgba(147, 223, 134, 0.9);
            &:nth-child(2){
                background-color: #00BCD4;
                border: 5px solid rgba(189, 240, 247, 0.404);
            }
            &:nth-child(3){
                background-color: #C4C4C4;
                border: 5px solid rgba(219, 219, 219, 0.6);
            }
            &:last-child{
                z-index: 100;
                border-radius: 0;
                position: absolute;
                left: 0;
                height: 4px;
                width: 100%;
                top: 50%;
                background-color: transparent;
                border: none;
                transform: translateY(-50%);
                display: flex;
                &>div{
                    width: 50%;
                    height: 100%;
                    &:first-child{
                        background-color: #CCEAC7
                    }
                    &:last-child{
                        background-color: #C4C4C4;
                    }
                }
            }
        }
    }
    &__tab1{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__inner{
        margin-top: 100px;
        margin-bottom: 80px;
    }
    &__items{
        width: 65%;
    }
    &__item{
        display: flex;
        align-items: center;
        width: 100%;
        padding: 40px 0;
        border-top: 1px solid #C4C4C4;
    }
    &__img{
        width: 15%;
        img{
            width: 100%;
            border-radius: 12px;
        }
    }
    &__descr{
        margin-left: 5%;
        width: 30%;
        b{
            display: block;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #030028;
        }
        span{
            font-size: 16px;
            line-height: 20px;
            color: #727187;
        }
    }
    &__amount{
        margin-left: 5%;
        border: 1px solid #DBDBDB;
        box-sizing: border-box;
        border-radius: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 20%;
        padding: 7px 16px;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        font-weight: 500;
    }
    &__amount img{
        cursor: pointer;
    }
    &__close{
        margin-left: 5%;
        cursor: pointer;
    }
    &__cost{
        margin-left: 5%;
        width: 15%;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #030028;
    }
    &__basket{
        width: 32%;
        background: #FFFFFF;
        border-radius: 12px;
        padding: 44px 44px 45px 44px;
        p{
            font-size: 18px;
            line-height: 22px;
            font-weight: 400;
            color: #000000;
            span{
                font-weight: 600;
            }
        }
    }
    &__button{
        background: #00BCD4;
        border-radius: 24px;
        border: none;
        width: 100%;
        padding: 10px;
        margin-top: 40px;
        color: white;
        font-weight: 600;
        font-size: 16px;
    }
    &__header{
        margin-top: -25px;
        display: flex;
        margin-left: 20%;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        margin-bottom: 8px;
        width: 100%;
        &-title{
            width: 30%;
        }
        &-amount{
            margin-left: 5%;
            width: 20%;
        }
        &-cost{
            margin-left: 5%;
            width: 15%;
        }
    }
    &__tab2{
        .product__info{
            margin-top: 0 !important;
        }
    }
    &__form{
        width: 70%;
    }
    &__form-inner{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        span{
            display: block;
            margin-bottom: 20px;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #000000;
        }
    }
    &__form-wrap{
        width: 46%;
        margin-bottom: 40px;
    }
    &__form-wrap2{
        width: 20%;
        margin-bottom: 40px;
    }
    &__input{
        background: #FFFFFF;
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        border-radius: 24px;
        width: 100%;
        padding: 10px 18px;
        outline: none;
    }
    &__tab2{
        .tab_content{
            padding: 80px 40px;
            position: relative;
        }
    }
    &__form-button{
        background: #00BCD4;
        border-radius: 24px;
        width: 22%;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
        padding: 14px 0;
        position: absolute;
        right: 0;
        bottom: -24px;
        outline: none;
    }
    
}

@media(max-width: 767px){
    .payment{
        &__tab1{
            flex-wrap: wrap;
        }
        &__items{
            width: 100%;
        }
        &__basket{
            width: 100%;
        }
        &__header{
            margin-top: 0;
        }
        &__item{
            position: relative;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &__img{
            width: 100%;
            height: 250px;
            margin-bottom: 30px;
            img{
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        &__descr{
            margin-left: 0;
            width: 100%;
            margin-bottom: 20px;
        }
        &__amount{
            margin-left: 0;
            width: 45%;
        }
        &__cost{
            margin-left: 0;
            width: 45%;
        }
        &__close{
            background-color: white;
            border-radius: 12px;
            padding: 6px 7px;
            position: absolute;
            right: 10px;
            top: 50px
        }
        &__header{
            display: none;
        }
    }
}

@media(min-width: 768px)and(max-width: 992px){
    .payment{
        &__tab1{
            flex-wrap: wrap;
        }
        &__items{
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        &__basket{
            width: 100%;
        }
        &__header{
            margin-top: 0;
        }
        &__item{
            width: 48%;
            position: relative;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &__img{
            width: 100%;
            height: 250px;
            margin-bottom: 30px;
            img{
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        &__descr{
            margin-left: 0;
            width: 100%;
            margin-bottom: 20px;
        }
        &__amount{
            margin-left: 0;
            width: 45%;
        }
        &__cost{
            margin-left: 0;
            width: 45%;
        }
        &__close{
            background-color: white;
            border-radius: 12px;
            padding: 6px 7px;
            position: absolute;
            right: 10px;
            top: 50px
        }
        &__header{
            display: none;
        }
    }
}