$main_color: #00bcd4;
@mixin flex{
    display: flex;
    align-items: center;
}
@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile{
    &_inner{
        background-color: white;
        display: flex;
        border-radius: 16px;
        overflow: hidden;
        padding: 0;
    }
    &_inner.container{
        padding: 0;
    }
    &_content{
        color: black;
        width: 65%;
        padding: 24px 40px;
        &_header{
            @include flex();
            &_info{
                color: black;
                margin-left: 16px;
                &>h3{
                    font-size: 20px;
                    font-weight: 700;
                }
            }
        }
        &_detail{
            &>div{
                margin-top: 20px;
                h3{
                    font-size: 18px;
                    font-weight: 600;
                }
                
            }
            &_adress{
                &_list{
                    margin-top: 20px;
                    &_inner{
                        padding: 15px;   
                        border: 1px solid lightgray;
                        border-radius: 10px;
                    }
                    &>div{
                        &:last-child{
                            text-align: right;
                            button{
                                border: none;
                                font-weight: 500;
                                margin-top: 10px
                            }
                        }
                    }
                }
            }
        }
    }
    &_menu{
        width: 35%;
        background-color: $main_color;
        &_header{
            padding: 24px;
            @include flex();
            &_info{
                color: white;
                margin-left: 16px;
                &>h3{
                    font-size: 20px;
                    font-weight: 700;
                }
            }
        }
        &_nav{
            &>a{
                text-decoration: none !important;
                display: block;
                width: 90%;
                padding-left: 53px;
                padding-top: 14px;
                padding-bottom: 14px;
                display: flex;
                // background-color: white;
                transition: 0.3s all;
                border-radius: 5px;
                &>span{
                    font-weight: 500;
                    color: white;
                    margin-left: 25px;
                    display: inline-block;
                }
                svg{
                    path{
                        fill: white
                    }
                }
                &:hover{
                    background-color: white;
                    svg{
                        path{
                            fill: black !important
                        }
                    }
                    span{color: black}
                }
            }
            &>a.active{
                background-color:  white;
                span{
                    color: black
                }
                svg{
                    path{
                        fill: black !important
                    }
                }
            }
        }
    }
}

@media(max-width: 767px){
    .profile_inner{
        flex-wrap: wrap;
    }
    .profile_menu{
        width: 100%;
        border-radius: none !important;
    }
    .profile_content{
        width: 100%;
    }
}